/* Profile Section Style */
  .profileSection {
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }
  
  .profilePicAndLinks {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .profilePicAndLinks img {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 1.4rem;
  }

  .profileLinks {
    background: #0a1930;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .profileLinks i {
    max-width: 100%; 
    font-size: 1.5rem;
    margin: 5px;
  }
  
  .personalDescription, .additionalInfo {
    flex: 1 1 auto;
  }
  
  .personalDescription h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .personalDescription h3 {
    margin: 5px 0;
    font-size: 20px;
    color: #c9d2f3;
  }
  
  .personalDescription p {
    margin: 10px 0;
    color: white;
  }
  
  .additionalInfo {
    display: flex;
    align-items: flex-start;
  }
  
  .additionalInfo li {
    margin-right: 20px;
  }

  /* Mobile Styles */
@media (max-width: 768px) {
  .profileSection {
    flex-direction: column;
    padding: 1.25rem;
    align-items: center;
  }

  .profilePicAndLinks {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .profilePicAndLinks img {
    margin-top: 0.5rem;
  }

  .profileLinks i {
    font-size: 2rem;
  }

  .personalDescription, .additionalInfo {
    max-width: 100%;
  }

  .additionalInfo {
    flex-direction: column; 
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .additionalInfo li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}