html, body, .App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #0a1930;
  color: white;
}

a {
  color: #c9d2f3;
}

h1, h2, h3 {
  margin: 0 0 15px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Section Styles */
section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background: #172b46;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  border-radius: 10px;
}

section h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Navigation Styles */

div .navigation {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  font-size: 1rem;
  font-weight: ;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}

/* Profile Section Styles */

@media (max-width: 768px) {
  #profile {
      flex-direction: column;
      align-items: center;
  }
}
