

html, body, .App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #0a1930;
  color: white;
}

a {
  color: #c9d2f3;
}

h1, h2, h3 {
  margin: 0 0 15px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* Section Styles */
section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background: #172b46;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  border-radius: 10px;
}

section h2 {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Profile Section */
#personal-information {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.profile-pic {
  flex: 0 0 auto;
  margin-right: 20px;
}

.personal-description, .additional-info {
  flex: 1 1 auto;
}

.personal-description h2 {
  margin: 0;
  font-size: 24px;
}

.personal-description h3 {
  margin: 5px 0;
  font-size: 20px;
  color: #c9d2f3;
}

.personal-description p {
  margin: 10px 0;
  color: white;
}

.additional-info {
  display: flex;
  align-items: flex-start;
}

.additional-info li {
  margin-right: 20px;
}

/* Experience Section */
.job h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #c9d2f3;
}

.job span {
  display: block;
  font-size: 0.9em;
  color: #62e8c6;
}

.job p {
  font-size: 1em;
  margin: 5px 0 15px;
  color: white;
}

/* Education Section */
.education-item h3 {
  font-size: 1.3em;
  margin: 10px 0;
  color: #c9d2f3;
}

.education-item span {
  display: block;
  font-size: 0.9em;
  color: #62e8c6;
}

/* Skills Section */
#skills ul {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  background: #0a1930;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 1em;
}

.skill-item, .language-item {
  margin: 10px 0;
  transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
  transform: translateY(-0.25rem);
}


#skills li#csharp-skill:hover{ background: #701c7a; } /* C# */
#skills li#javascript-skill:hover{ background: #d2bf44; } /* JavaScript */
#skills li#react-skill:hover{ background: #0385aa; } /* React */
#skills li#reactnative-skill:hover{ background: #0385aa; } /* React Native */
#skills li#nodejs-skill:hover{ background: #339d25; } /* NodeJS */
#skills li#python-skill:hover{ background: #3a709c; } /* Python */

#skills li#windowshosting-skill:hover{ background: #0385aa; } /* Windows Hosting */
#skills li#linuxhosting-skill:hover{ background: #d2bf44; } /* Linux Hosting */
#skills li#windowad-skill:hover{ background: #3a709c; } /* Windows AD */

#skills li#vs-tool:hover{ background: #0078d7; } /* Visual Studio */
#skills li#sublime-tool:hover{ background: #ff9700; } /* Sublime Text */
#skills li#excel-tool:hover{ background: #339d25; } /* Excel */
#skills li#jira-tool:hover{ background: #0052cc; } /* Jira */
#skills li#gitkraken-tool:hover{ background: #000000; } /* GitKraken */
#skills li#pytorch-tool:hover{ background: #ee4c2c; } /* PyTorch */

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 13px;
  padding: 3px;
  margin: 5px 0;
}

.progress {
  height: 20px;
  border-radius: 10px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

@keyframes progressBar {
  from { width: 0%; }
  to { width: var(--width); } 
}

.language-item .progress {
  animation: progressBar 0.5s ease-in-out forwards;
  width: var(--width, 0%);
}

.language-item:nth-child(1) { --width: 100%; } /* Dutch */
.language-item:nth-child(2) { --width: 100%; } /* English */
.language-item:nth-child(3) { --width: 50%; } /* French */
.language-item:nth-child(4) { --width: 90%; } /* Serbian */

