html, body, .App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  color: var(--p-text-color);
}

a {
  color: var(--a-text-color);
}

h1, h2, h3 {
  margin: 0 0 15px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.skillsAndLanguages-container {
  display: flex;
  justify-content: center;
  max-width: 840px;
  margin: 1px auto;
  gap: 20px;
}

.skillsAndLanguages-container section {
  width: 100%;
  margin: 0;
}

/* Settings Styles */

.settings-menu {
  position: fixed;
  top: 32px;
  right: 25px;
  z-index: 1000;
  user-select: none;
}

.settings-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.menu-content.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.language-button, .theme-button {
  text-align: center;
  min-width: 43px;
  background: none;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  color: inherit;
  padding: 5px 10px;
  transition: transform 0.2s ease;
}

.language-button:hover, .theme-button:hover {
  transform: scale(1.1);
}

/* Section Styles */
section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background: var(--section-background-color);
  user-select: none;
  border-radius: 10px;
}

section h2 {
  color: var(--h2-text-color);
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Responsive Styles */

@media (max-width: 1024px) {
  .settings-menu {
    position: absolute;
  }

  section {
    margin: 1rem;
  }
  
  .App{
    font-size: 0.9rem;
  }

  .App h3{
    font-size: 1.2rem;
  }
}

