/* Education Section Styles */

.educationItem h3 {
    font-size: 1.3em;
    margin: 10px 0;
    color: var(--h3-text-color);
}
  
.educationItem span {
    display: block;
    font-size: 0.9em;
    color: var(--span-text-color);
}