/* Experience Section Style */
.jobItem h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color:var(--h3-text-color);
}
  
.jobItem span {
display: block;
font-size: 0.9em;
color: var(--span-text-color);
}

.jobItem p {
font-size: 1em;
margin: 5px 0 15px;
color: var(--p-text-color);
}